* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #228B22; /* Green background */
    background-image: url("/static/image/photo4edited.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.content img {
    width: 100px;
    margin-bottom: 20px;
}

.content h2 {
    font-size: 24px;
    color: #228B22;
    margin-bottom: 20px;
}

.content form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.content button {
    flex: 1;
    padding: 12px;
    background-color: #228B22;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.content button:hover {
    background-color: #1E5631;
}

.content button:first-child {
    background-color: #ccc; /* Different color for "Return" button */
    color: #555;
}

.content button:first-child:hover {
    background-color: #999;
}